<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include /part/header %>
    <link rel='stylesheet' href='/stylesheets/luckyMember.css' />
    <style>
      @font-face {font-family:'NanumGothic'; src: url('images/NanumGothic.eot');} 
      #main{
        padding: 80px 200px;
        text-align: center;
      }
      .blockquote-footer{
        margin-top: 25px;
      }
      pre{
        border:0px;
        font-size: 14px;
        font-family: "NanumGothic";
      }

      p{
        font-size: 10px;
        font-family: "NanumGothic";
      }
      p:hover{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div class="bs-component">
        <blockquote class="blockquote">
          <pre class="mb-0">안녕하세요 유은입니다. 
            이 사이트는 ETH Dapp으로 화폐를 이용하고, Game이력 등을 저장할 수 있도록 설계하여 웹과 연동한 사이트입니다. 
            Dapp을 둘로 나눈 이유는 화폐와 게임을 구분하고 싶었기 때문입니다. 
            두 Dapp은 내부 코드상으로 서로의 주소가 등록되어있어 상호작용할 수 있습니다. 
            Token Exchange 페이지에서 토큰을 구입, 판매, 전송 가능하며 구입한 토큰으로 Home 페이지에서 게임을 이용할 수 있습니다.
             이 게임은 같은 숫자 3가지가 나올경우 당첨이며, 당첨시 100 BYC를 지급받게됩니다. 
            지급받은 토큰은 판매하여 ETH로 교환받을 수 있습니다. 
            Contract 코드는 오른쪽 상단에 Etherscan으로 이동하는 버튼을 통해 접근하실 수 있습니다. 
            들러주셔서 감사합니다 :)</pre>
          <footer class="blockquote-footer">From . Yu Eun</footer>
        </blockquote>
        <br/>
        <br/>
        <br/>
        <br/>
      <div style="text-align: left">
        <h4>- source</h4>
        <p onclick="javascript:window.open('https://bootswatch.com/sketchy')">bootstrap : https://bootswatch.com/sketchy</p>
        <p onclick="javascript:window.open('http://codepen.io/AdrianSandu/pen/MyBQYz')">slot machin : https://codepen.io/AdrianSandu/pen/MyBQYz</p>
        <p onclick="javascript:window.open('https://github.com/OpenZeppelin/openzeppelin-solidity')">solidity open source : open-zeppelin</p>
      </div>
    </div>
  </body>
</html>

