<div id="stage" class="perspective-on">
      <div id="rotate">
            <div id="ring1" class="ring"></div>
            <div id="ring2" class="ring"></div>
            <div id="ring3" class="ring"></div>
      </div>
      <div>
            <button id="start_spinning" type="button" class="go btn btn-lg btn-outline-warning">Start spinning</button>
      </div>

      <div>
            <label style="color:#cfcfcf">
                  <input type="checkbox" id="xray">
                  Show inner workings
            </label>
            <label style="color:#cfcfcf">
                  <input type="checkbox" id="perspective">
                  Toggle perspective
            </label>
      </div>
</div>
